* {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 120rem;
    font: inherit;
    box-sizing: border-box;
}
table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}
article,
section,
header,
footer,
aside,
details,
menu {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-size: 100%;
    font-weight: normal;
}
ol,
ul{
    list-style: none;
}
button, 
input, 
select, 
textarea {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}